<div class="jumbotron">
<!-- Formulario -->
    <h1 style="color:blue;">Ingrese datos</h1>
    <br>
    <form action="" id="formularioProd">
        <div class="form-group">
            <label for="producto"><b>Producto</b></label>
            <input id="product" class="form-control" type="text" name="product" required>
        </div>
        <div class="form-group">
            <label for="precio"><b>Precio</b></label>
            <input id="price" class="form-control" type="number" name="price" required>
        </div>
        <div class="form-group">
            <label for="descripcion"><b>Descripcion</b></label>
            <input id="description" class="form-control" type="text" name="description" required>
        </div>
        <div class="form-group">
            <label for="img"><b>Imagen</b></label>
            <input id="img" class="form-control" type="text" name="img" required>
        </div>
        <div class="form-group">
            <label for="category"><b>Categoria</b></label>
            <input id="category" class="form-control" type="text" name="category" required>
        </div>
        <div class="form-group">
            <label for="codigo"><b>Codigo</b></label>
            <input id="code" class="form-control" type="text" name="code" required>
        </div>
        <div class="form-group">
            <label for="stock"><b>Stock</b></label>
            <input id="stock" class="form-control" type="number" name="stock" required>
        </div>
        <div class="footerProductAdd">
            <button type="button" onclick="enviarProducto()" class="btn btn-success">Enviar</button>
            <p id="errorProductAdd"> </p>
        </div>
        
    </form>
    <!-- Final Formulario -->
</div>
