<form action="" id="formulario">
  <div class="mb-3">
      <textarea class="form-control mb-2" id="commentary" placeholder="Escribe tu comentario aqui..." rows="3" name="message"></textarea>
      <button type="button" onclick="enviarMensaje('{{username}}')" id="send" class="btn btn-success">Enviar</button>
  </div>
</form>