<div class="welcomeDiv">
    <h3 class="welcome"> <a href="/" style="color:rgba(94, 196, 20, 0.778);" >Bienvenido <span id="user">{{username}}</span></a> </h3>
    <a href="/carrito"> Mi carrito </a>
    <a href="/chat"> Contactanos </a>
    <a href="/logout"> Logout </a>
</div>
