<div class="container mt-3">
    {{> welcome}}
</div>
<table class="table w-50 mt-5 mx-auto">
  <thead>
    <tr>
      <th class="col-4">Producto</th>
      <th class="col-8">Precio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Argumentos de entrada</td>
      <td>----------</td>
    </tr>
  </tbody>
</table>