<div class="errorSearchEmailChatBox">
    <h3 class="text-danger"> ACCESO INCORRECTO! </h3>
    <h4 class="text-secondary"> Es correcto este correo?: {{email}}</h4>
    <h4 class="text-secondary"> Si es asi puede que la infomacion a la que intentas acceder no sea visible para usted, intente nuevamente </h4>
</div>