<div class="errorSearchEmailChatBox">
    <h3 class="text-danger"> No hay mensajes </h3>
    <h4 class="text-secondary"> Ey {{username}}, aun no tienes mensajes, intenta enviar uno desde <a href="/chat">AQUI</a> </h4>
</div>