<div id="formContent" class="regFormContainer">
    <!-- Icon -->
    <div class="regMainScreen">
        <h2 class="loginTitle"> Sign Up </h2>
        <div class=>
            <img src="/static/img/userGenericImg.webp" id="icon" class="loginIcon" alt="User Icon" />
        </div>
        <!-- Register Form -->
        <form class="regForm" action="/register" method="post" name="registerForm" enctype="multipart/form-data" id="regForm">
            <input type="text" id="registerUser" name="username" placeholder="Usuario" required>
            <input type="password" id="registerPassword"  name="password" placeholder="Contraseña" required>
            <input type="tel" id="registerPhone"  name="phone" placeholder="Telefono" required>
            <input type="number" id="registerAge"  name="age" placeholder="Edad" required>
            <input type="text" id="registerAddress"  name="address" placeholder="Dirección" required>
            <input type="email" id="registerEmail"  name="email" placeholder="Correo electrónico" required>
            <div class="imgFormDiv">
                <label> ↓↓ Inserte una foto suya ↓↓</label>
                <input type="file" id="registerImage" name="image" required>
            </div>
            <p class="errorRegisterText"> {{errorRegister}} {{invalidUserTagError}} </p>
            <input type="submit" class='regSubmitButton' value="Sign Up">
        </form>
        <p> Ya tienes cuenta? <a href="/login"> Ingresa </a> </p>
    </div>
</div>


