<div class="errorRouteBox">
    <h3 class="text-secondary"> La ruta a la que intentas acceder aparentemente no existe, por favor revisa tu link de ingreso </h3>
    <h4 class="text-secondary"> Has intentado usar metodo {{method}} sobre {{url}}</h4>
</div>